name: Build Jekyll static site

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"

      - name: Install Jekyll
        run: gem install jekyll

      - name: Build site
        run: jekyll build

      - name: Upload compiled site (_site)
        uses: actions/upload-artifact@v4
        with:
          name: compiled-site
          path: _site
